# Godot 4+
.godot/
*.import

# python
**/__pycache__/
*.pyc

# nuitka
nuitka_build/

# sublimetext
*.sublime-workspace

# Binaries
*.o
*.os
*.so
*.obj
*.bc
*.dblite
*.pdb
*.lib
*.config
*.creator
*.creator.user
*.files
*.includes
*.idb
*.exp